{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Войдите в свой аккаунт</h2>
{% endblock page_header %}

{% if form.errors %}
    <p>Неверный логин или пароль</p>
{% endif %}

{% block content %}
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        <!-- {% bootstrap_form form %} -->

        {{ form|crispy }}
        
        {% buttons %}
            <button name="submit" class="btn btn-primary">Войти</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'index' %}" />
    </form>
{% endblock content %}