{% extends "base.html" %}

{% block page_header %}
<div class='jumbotron'>
    <h1 class="display-4">Корпоративные опросы</h1>

    {% if user.username == 'admin' %}
        <p class="lead">
            Данный сервис предоставляет возможность создавать и настроивать опросники.
            Каждый вопрос имеет четыре варианта ответов. Достыпны ответы двух видов: "один из четырех вариантов", "несколько из четырех вариантов" 
            <br />За каждый ответ назначается определенное количество баллов, которое для каждого опроса может быть разным.
        </p>
    {% elif user.is_authenticated %}
        <p class="lead">
            <span class="font-weight-bolder">{{ user.username }}</span>, добро пожаловать на сервис прохождения опросов!
            <br />На <a class="navbar-brand" href="{% url 'poll_list' %}">странице опросов</a> вы можете ознакомиться с перечнем актуальных опросов и начать проходить один из них.
        </p>
    {% else %}
    <p class="lead">
        Добро пожаловать на сервис корпоративных опросов. Функционал доступен только для авторизованных пользователей.
    </p>
    {% endif %}

    {% if user.is_authenticated %}
        <a class="btn btn-lg btn-primary" href="{%url 'poll_list' %}" role="button">Опросы &raquo;</a>
    {% else %}
        <a class="btn btn-lg btn-primary" href="{%url 'users:register' %}" role="button">Зарегистрироваться &raquo;</a>
    {% endif %}
</div>
<a class="btn btn-secondary" href="{%url 'users:password_change' %}">Сменить пароль</a>
<a class="btn btn-secondary" href="{%url 'users:password_reset' %}">Сбросить пароль</a>
{% endblock page_header %}