{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Список опросов</h2>
{% endblock page_header %}


{% block content %}
    {% if user.username == 'admin' %}
    <ol>
        {% for poll in poll_list %}
        <li>
            <a href="{% url 'poll_questions' poll.id %}" title="Просмотреть вопросы">
                {{ poll.title }}</a>
            
        </li>
        {% endfor %}
    </ol>
    <a href="{% url 'poll_create' %}"><button>Создать опрос</button></a>
    {% else %}
        Вы можете пройти следующие опросы:
        <ol>
            {% for poll in poll_list %}
            <li>
                <a href="{% url 'poll_start' poll.id %}" title="Пройти опрос">
                    {{ poll.title }}</a>
            </li>
            {% endfor %}
            <h5>Пройденные опросы</h5>
            {% for st in polls_status %}
            <li>
                {{ st.poll__title }}    
                {% if st.count_answ != 0 %}
                    Статус: Пройден
                {% else %}
                    Статус: Не пройдены
                {% endif %}    
            </li>
            {% endfor %}

        </ol>

        <ol>
            <h5>Пройденные опросы</h5>
            {% for st in polls_status %}
            <li>
                {{ st.poll__title }} 
            </li>
            {% endfor %}
        </ol>

        <ol>
            <h5>Недоступные опросы (архив):</h5>
            {% for st in polls_old %}
            <li>
                {{ st }} 
            </li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock content %}
