{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Список опросов</h2>
{% endblock page_header %}


{% block content %}
    {% if user.username == 'admin' %}
    <ol>
        {% for poll in poll_list %}
        <li>
            <a href="{% url 'poll_questions' poll.id %}" title="Просмотреть вопросы">
                {{ poll.title }}</a>
            <input type="submit" value="Детальнее" class='btn btn-primary btn-sm'>
        </li>
        {% endfor %}
    </ol>
    {% else %}
        Вы можете пройти следующие опросы:
        <ol>
            {% for poll in poll_list %}
            <li>
                <a href="{% url 'poll_start' poll.id %}" title="Пройти опрос">
                    {{ poll.title }}</a>
            </li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock content %}
