
{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block page_header %}
    <h3><span class="badge badge-secondary col-sm-6 shadow p-3 mb-2">Пройти опрос "{{ poll_title }}" </span></h3>
{% endblock page_header %}

{% block content %}
<h4 class="shadow-sm p-3 mb-5 bg-white rounded">Вопросы:</h4>

{% csrf_token %}
{% for q_list in questions %}

<form action="{% url 'poll_start' poll_id %}" method="post">
    {% csrf_token %}
        <ol class="list-group">
            <li class="list-group-item">
                <h4 >{{ q_list.question }}</h4>
                {% if q_list.question.picture  %}
                    <img class="rounded" src="{{ MEDIA_URL }}{{ q_list.question.picture }}" width="250" height="250" alt="картинка опроса"/>
                {% endif %}

                {{ message }}
                <ol class="list-group">
                    <fieldset>
                        <p class="text-danger font-weight-bold"> {{ message }}</p>
                        <legend class="font-weight-lighter font-italic">Варианты ответов:</legend>
                        {% if q_list.question.typeQuestion == 1 %}
                        {% for ans in q_list.question.answer_set.all %}
                            <li class="list-group-item">
                                <label for="ans-radio-1">{{ ans.textAnswer }}</label>
                                <input type="radio" name="ans-user" id="ans-radio-1" value="{{ ans.id }}">
                            </li>
                            {% endfor %}
                        {% elif q_list.question.typeQuestion == 2 %}
                            {% for ans in q_list.question.answer_set.all %}    
                                <li class="list-group-item">
                                    <label for="ans-check-1">{{ ans.textAnswer }}</label>
                                    <input type="checkbox" name="ans-user" id="ans-check-1" value="{{ ans.id }}">
                                </li>
                            {% endfor %}
                        {% endif %}
                    </fieldset>
                </ol>
            </li>
            <p><input type="submit" class="btn btn-primary" value="Ответить"></p>
            <input type="hidden" name="q-in-p" id="q-in-p" value="{{ q_list.id }}">
            <input type="hidden" name="score" id="score" value="{{ q_list.score }}">
            <input type="hidden" name="q_id" id="q_id" value="{{ q_list.question.id }}">
        </ol>
    </form>
{% endfor %}
    <a href="{% url 'user_statistics' %}"><button class="btn btn-primary btn-lg">Завершить опрос</button></a>
{% endblock content %}