{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Редактировать вопрос</h2>
    <h6>Здесь вы можете отредактировать вопрос и ответы на него. 
        В поле Опрос можете менять опросы, где данный вопрос участвует.
    </h6>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'question_answer_create' qObj.id %}" method="post">
        {% csrf_token %}
        {{ question_form.as_p }}

        {{ answer_formset.management_form }}
        {{ answer_formset.as_ul }}
        <br>

        <p> <input type="submit" value="Сохранить"></p>
    </form>
{% endblock content %}