{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h2><span class="badge badge-secondary col-sm-6 shadow p-3 mb-2">Редактировать вопрос</span></h2>
    <h6 class="shadow-sm p-3 mb-5 bg-white rounded col-sm-8">Здесь вы можете редактировать поля вопроса и также создвать, редактировать ответы. 
        В поле "Опрос" можно указывать несколько опросов.</h6>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'question_answer_create' qObj.id %}" method="post">
        {% csrf_token %}
        {{ question_form.as_p }}

        {{ answer_formset.management_form }}
        {{ answer_formset.as_ul }}
        <br>

        <p> <input type="submit" value="Сохранить" class="btn btn-primary" ></p>
    </form>
{% endblock content %}