{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h3>Редактирование вопроса</h3>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'question_edit' qObj.id %}" method="post"> 
        {% csrf_token %}
        {{ form.as_p }}

        <p>Варианты ответов</p>
        {% for answer in ans_list %}
            {{ answer.textAnswer }}
        {% endfor %}
        
        <p><input type="submit" value="Добавить вариант ответа"></p>
        
        <p><input type="submit" value="Обновить"></p>
    </form>


{% endblock content %}
