{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h2><span class="badge badge-secondary col-sm-6 shadow p-3 mb-2">Список вопросов </span></h2>
{% endblock page_header %}

{% block content %}
    <h5 class="shadow-sm p-3 mb-5 bg-white rounded col-sm-8">Вопросы:</h5>
    <div class="list-group col-sm-8"> 
        {% for question in object_list %}
            <a class="list-group-item list-group-item-action list-group-item-secondary stretched-link" href="{% url 'question_answer_create' question.id %}">
                {{ question.text }} (Редактировать)</a>
        {% endfor %}
    </div>
    <a href="{% url 'q_create' %}" class="btn btn-primary btn-lg">Создать вопрос</a>
{% endblock content %}

