{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Информация об ответах пользователей</h2>
{% endblock page_header %}

{% block content %}

    <table border="1">
        <tr>
            <th>Опрос</th>
            <th>Баллы</th>
            <th>% пользователей ответили лучше</th>
        </tr>
        {% for object in user_statistics %}
        <tr>
            <td> {{ object.poll__title }}</td>
            <td>{{ object.sum_score }}</td>
            <td>{{ object.percent }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}