{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>Информация об ответах пользователей</h2>
{% endblock page_header %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
    </form>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Пользователь</th>
            <th scope="col">Опрос</th>
            <th scope="col">Вопрос</th>
            <th scope="col">Ответ</th>
            <th scope="col">Баллы</th>
        </tr>
    </thead>
        {% for object in object_list %}
        <tr>
            <td>{{ object.owner }}</td>
            <td>{{ object.poll }}</td>
            <td>{{ object.question }}</td>
            <td>{{ object.answer }}</td>
            <td>{{ object.score }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}